.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 20px 30px;
  transition: background-color 0.5s ease;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link-icon {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.nav-link-icon:nth-child(2) {
  transform: scaleX(-1);
}

/* Very small screens, Z-Fold */

@media only screen and (min-width: 600px) {
  .nav-container {
    width: 552px;
    margin-inline: auto;
  }
}

@media only screen and (min-width: 768px) {
  .nav-container {
    width: 738px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-container {
    width: 924px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-container {
    width: 1110px;
  }
}
