.sliderBtn {
  position: absolute;
  top: 280px;
  transform: translateY(-50%);
  border: 1px solid rgba(190, 190, 190, 0.3);
  border-radius: 0.75rem;
  backdrop-filter: blur(10px);
  background-color: rgba(32, 32, 32, 0.6);
  z-index: 98;
  height: 50px;
  width: 50px;
  box-shadow: inset 10px -50px 94px 0 rgba(3, 3, 3, 0.2);
}

.sliderBtn:active {
  width: 45px;
  height: 45px;
}

.slider-icon {
  color: #fff;
  font-size: 20px;
}

.sliderBtn.next {
  right: 20px;
}

.sliderBtn.prev {
  left: 20px;
}

@media only screen and (min-width: 992px) {
  .sliderBtn {
    height: 170px;
    width: 50px;
  }
  .sliderBtn:active {
    width: 45px;
    height: 165px;
  }
}
