section.hero {
  height: fit-content;
}

.hero-slide-content {
  position: relative;
}

.hero-headers {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 3;
}

.hero-headers p:nth-child(1),
.hero-headers p:nth-child(3) {
  font-family: var(--product-font);
  font-weight: var(--product-font-weight);
}

.hero-headers p:nth-child(1) {
  font-size: 25px;
}

.hero-headers h1 {
  font-family: var(--bolded-caption);
  font-weight: var(--bolded-font-weight);
  margin-bottom: 25px;
  font-size: 60px;
  filter: drop-shadow(0px 5px 5px #000);
}

.hero-headers p:nth-child(3) {
  font-size: 20px;
  margin-bottom: 15px;
}

.hero-cover-overlay {
  position: fixed;
  top: 0;
  content: '';
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 1%,
    rgba(0, 0, 0, 0) 99%
  );
  width: 100%;
  height: 560px;
  z-index: 1;
}

.hero-cover-img {
  width: 100%;
  height: 560px;
  object-fit: cover;
  object-position: 15%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

/* Check and Delete */
/* .tet {
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 50%;
} */

@media only screen and (max-width: 400px) {
  .hero-headers {
    top: 60%;
  }
  .hero-headers p:nth-child(1) {
    font-size: 20px;
  }

  .hero-headers h1 {
    font-size: 40px;
  }

  .hero-headers p:nth-child(3) {
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .hero-headers {
    top: 335px;
    width: 100%;
  }
}
