.new-section {
  padding: 20px 20px 0;
  text-align: center;
  margin-bottom: 23px;
}

.section-title span {
  color: #ff4545;
}

.new-flavor-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin-block: 35px 22px;
}

.flavor-card {
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  width: 275px;
  height: 180px;
  color: #fff;
}

.flavor-card:hover {
  box-shadow: 0px 2px 10px 1px rgba(66, 66, 66, 0.2) ;
}

.flavor-card h4 {
  user-select: none;
  margin-top: 70px;
  margin-left: 15px;
  line-height: 1.2;
  font-size: 15px;
  font-weight: bold;
  width: 125px;
}

.flavor-card p {
  line-height: 1.5;
  font-size: 14px;
  margin-left: 15px;
}

@media only screen and (min-width: 800px) {
  .flavor-card {
    width: 366px;
  }
}

@media only screen and (min-width: 992px) {
  .flavor-card {
    width: 459px;
  }
}

@media only screen and (min-width: 1170px) {
  .flavor-card {
    width: 271.5px;
  }
}
